{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
</head>
<body>
    <center>
        <h1 class="btn btn-dark">MDB%</h1>
    </center>

    <div class="card">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button</a>
        </div>
      </div>








    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/poppers.js' %}"></script>
    <script src="{% static 'js/mdb.es.min.js' %}"></script>
</body>
</html>